<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Cinema Management</h4>
                        <p class="card-category"> Modify Cinema in system</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <form [formGroup]="form" class="input-group no-border col-md-4" (ngSubmit)="searchByName()">
                                <input type="text" (input)="searchName=$event.target.value" name="cinameName" value="" class="form-control" placeholder="Search..." >
                                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </form>
                            <table class="table">
                                <thead class="text-danger">
                                <th>
                                    Cinema ID
                                </th>
                                <th>
                                    Cinema Name
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Action
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let cinema of cinemas | paginate: { itemsPerPage: 5, currentPage: p }; ">
                                    <td>
                                        {{cinema.cinemaId}}
                                    </td>
                                    <td>
                                        {{cinema.cinemaName}}
                                    </td>
                                    <td>
                                        {{cinema.address}}
                                    </td>
                                    <td>
                                        {{cinema.shortDes}}
                                    </td>
                                    <td>
                                        <a role="button" class="btn btn-outline-danger btn-sm" (click)="goToUpdate(cinema)">Update</a>
                                        <button class="btn btn-outline-danger btn-sm" (click)="goToDelete(cinema)">Delete</button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>


                        </div>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-danger" (click)="goToCreate()">Create</button>
            </div>

        </div>

    </div>
</div>
