<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Room Management</h4>
                        <p class="card-category"> Modify Cinema in system</p>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="form-group" >
                                <label>Cinema Name:</label>
                                <select class="form-control" style="width: 20%;margin-left: 1%" (change)="listCinema(addCt.value)" #addCt>
                                    <option value="-1">------All------</option>
                                    <option *ngFor="let cinema of cinemas" value="{{cinema.cinemaId}}" >{{cinema.cinemaName}}</option>
                                </select>
                            </div>
                            <table class="table">
                                <thead class=" text-danger">
                                <th>
                                    Room ID
                                </th>
                                <th>
                                    Cinema Name
                                </th>
                                <th>
                                    Room Name
                                </th>
                                <th>
                                    Seat Number
                                </th>
                                <th>
                                    Type
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let room of rooms  | paginate: { itemsPerPage: 5, currentPage: p };">
                                    <td>
                                        {{room.roomId}}
                                    </td>
                                    <td>
                                        {{room.cinema.cinemaName}}
                                    </td>
                                    <td>
                                        {{room.roomName}}
                                    </td>
                                    <td>
                                        {{room.seatNum}}
                                    </td>
                                    <td>
                                        {{room.type}}
                                    </td>
                                    <td>
                                        <a role="button" class="btn btn-outline-primary btn-sm" (click)="goToUpdate(room)">Update</a>
                                        <button class="btn btn-outline-danger btn-sm" (click)="goToDelete(room)">Delete</button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>


                        </div>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-danger" (click)="goToCreate()">Create</button>
            </div>

        </div>

    </div>
</div>

